# searchs 'ata.findme.xd' and it if finds it sets the root so atlas can boot

GRUB_GFXMODE=1920x1080x32

function load_video {
        insmod efi_gop
        insmod efi_uga
        insmod video_bochs
        insmod video_cirrus
}

function setup_efi {
        set gfxpayload=keep
        insmod gzio
        insmod part_gpt
        insmod fat
        insmod chain
}

menuentry "atlas-dev x86_64" {
        echo 'Searching boot drive ...'
        search --file /efi/boot/ata.findme.xd --set=root
        setup_efi
        load_video
        echo 'Loading EFI Atlas_Bootloader ...'
        chainloader /efi/boot/bootx64.efi
        boot
}

menuentry "EFI Shell x64_64 (24H1)" {
        echo 'Searching boot drive ...'
        search --file /efi/boot/ata.findme.xd --set=root
        set gfxpayload=keep
        setup_efi
        load_video
        echo 'Loading EFI Shell ...'
        chainloader /shellx64.efi
        boot
}